#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig EXAMPLES_TESTCASE_KERNEL
	bool "Kernel TestCase Example"
	default y
	select DRIVERS_OS_API_TEST
	---help---
		Enable the Kernel TestCase Example

if EXAMPLES_TESTCASE_KERNEL
config DEBUG_TC_KN
	bool "Kernel Testcase Debug Output"
	default n
	depends on DEBUG

config TC_KN_ALL
	bool "All"
	default y
	select TC_KERNEL_BINFMT if BINFMT_ENABLE
	select TC_KERNEL_BINARY_MANAGER if BINARY_MANAGER
	select TC_KERNEL_CLOCK
	select TC_KERNEL_ENVIRON if !DISABLE_ENVIRON
	select TC_KERNEL_ERRNO
	select TC_KERNEL_GROUP if SCHED_HAVE_PARENT && SCHED_CHILD_STATUS
	select TC_KERNEL_LIBC_FIXEDMATH if LIBM
	select TC_KERNEL_LOG_DUMP if LOG_DUMP
	select TC_KERNEL_LIBC_INTTYPES
	select TC_KERNEL_LIBC_LIBGEN
	select TC_KERNEL_LIBC_MATH if LIBM
	select TC_KERNEL_LIBC_MISC
	select TC_KERNEL_LIBC_PTHREAD if !DISABLE_PTHREAD
	select TC_KERNEL_LIBC_QUEUE
	select TC_KERNEL_LIBC_SCHED
	select TC_KERNEL_LIBC_SEMAPHORE
	select TC_KERNEL_LIBC_SIGNAL if !DISABLE_SIGNALS && !DISABLE_POSIX_TIMERS
	select TC_KERNEL_LIBC_STDIO
	select TC_KERNEL_LIBC_STDLIB
	select TC_KERNEL_LIBC_STRING
	select TC_KERNEL_LIBC_SYSLOG
	select TC_KERNEL_LIBC_TIMER
	select TC_KERNEL_LIBC_UNISTD
	select TC_KERNEL_MQUEUE if !DISABLE_MQUEUE
	select TC_KERNEL_NET_PBUF if NET_LWIP
	select TC_KERNEL_PIPE if PIPES
	select TC_KERNEL_PM if PM
	select TC_KERNEL_PROCFS if FS_PROCFS && !FS_PROCFS_EXCLUDE_UPTIME && !FS_PROCFS_EXCLUDE_VERSION
	select TC_KERNEL_PTHREAD if !DISABLE_PTHREAD
	select TC_KERNEL_RTC if RTC_DRIVER
	select TC_KERNEL_SCHED
	select TC_KERNEL_SEMAPHORE
	select TC_KERNEL_SIGNAL if !DISABLE_SIGNALS
	select TC_KERNEL_SYSTEM_DEBUG if DEBUG_SYSTEM
	select TC_KERNEL_TASK
	select TC_KERNEL_TIMER if !DISABLE_POSIX_TIMERS
	select TC_KERNEL_VFS
	select TC_KERNEL_WDOG if WATCHDOG
	select TC_KERNEL_UMM_HEAP
	select TC_KERNEL_WORK_QUEUE if SCHED_WORKQUEUE && (SCHED_HPWORK || SCHED_LPWORK)
	select TC_KERNEL_IRQ
	select TC_KERNEL_MEM_LEAK_CHECKER if MEM_LEAK_CHECKER
	select TC_KERNEL_REBOOT_REASON if SYSTEM_REBOOT_REASON
	select ITC_KERNEL_ENVIRON if !DISABLE_ENVIRON
	select ITC_KERNEL_LIBC_PTHREAD if !DISABLE_PTHREAD
	select ITC_KERNEL_LIBC_SEMAPHORE
	select ITC_KERNEL_SEMAPHORE
	select ITC_KERNEL_SCHED
	select ITC_KERNEL_TIMER if !DISABLE_POSIX_TIMERS
	select ITC_KERNEL_PTHREAD if !DISABLE_PTHREAD

config TC_KERNEL_CLOCK
	bool "Clock"
	default n

config TC_KERNEL_BINFMT
	bool "Binfmt"
	default n
	depends on BINFMT_ENABLE

config TC_KERNEL_BINARY_MANAGER
	bool "Binary Manager"
	default n
	depends on BINARY_MANAGER

config TC_KERNEL_ENVIRON
	bool "Environ"
	default n
	depends on !DISABLE_ENVIRON

config TC_KERNEL_ERRNO
	bool "Errno"
	default n

config TC_KERNEL_GROUP
	bool "Group"
	default n
	depends on SCHED_HAVE_PARENT
	depends on SCHED_CHILD_STATUS

config TC_KERNEL_LOG_DUMP
	bool "Log Dump"
	default n
	depends on LOG_DUMP

config TC_KERNEL_LIBC_FIXEDMATH
	bool "Libc FixedMath"
	default n
	depends on LIBM

config TC_KERNEL_LIBC_INTTYPES
	bool "Libc Inttypes"
	default n

config TC_KERNEL_LIBC_LIBGEN
	bool "Libc Libgen"
	default n

config TC_KERNEL_LIBC_MATH
	bool "Libc Math"
	default n
	depends on LIBM

config TC_KERNEL_LIBC_MISC
	bool "Libc Misc"
	default n

config TC_KERNEL_LIBC_PTHREAD
	bool "Libc Pthread"
	default n
	depends on !DISABLE_PTHREAD
	select MUTEX_TYPES

config TC_KERNEL_LIBC_QUEUE
	bool "Libc Queue"
	default n

config TC_KERNEL_LIBC_SCHED
	bool "Libc Sched"
	default n

config TC_KERNEL_LIBC_SEMAPHORE
	bool "Libc Semaphore"
	default n

config TC_KERNEL_LIBC_SIGNAL
	bool "Libc Signal"
	default n
	depends on !DISABLE_SIGNALS
	depends on !DISABLE_POSIX_TIMERS

config TC_KERNEL_LIBC_STDIO
	bool "Libc Stdio"
	default n

config TC_KERNEL_LIBC_STDLIB
	bool "Libc Stdlib"
	default n

config TC_KERNEL_LIBC_STRING
	bool "Libc String"
	default n

config TC_KERNEL_LIBC_TIMER
	bool "Libc Timer"
	default n

config TC_KERNEL_LIBC_UNISTD
	bool "Libc Unistd"
	default n

config TC_KERNEL_LIBC_SYSLOG
	bool "Libc Syslog"
	default n

config TC_KERNEL_MQUEUE
	bool "Mqueue"
	default n
	depends on !DISABLE_MQUEUE

config TC_KERNEL_NET_PBUF
	bool "Net Pbuf"
	default n
	depends on NET_LWIP

config TC_KERNEL_PIPE
	bool "Pipe"
	default n
	depends on PIPES

config TC_KERNEL_PM
	bool "PM"
	default n
	depends on PM

config TC_KERNEL_PROCFS
	bool "ProcFS"
	default n
	depends on FS_PROCFS
	depends on !FS_PROCFS_EXCLUDE_UPTIME
	depends on !FS_PROCFS_EXCLUDE_VERSION

config TC_KERNEL_PTHREAD
	bool "Pthread"
	default n
	depends on !DISABLE_PTHREAD
	select MUTEX_TYPES

config TC_KERNEL_RTC
	bool "RTC"
	default n
	depends on RTC_DRIVER

config TC_KERNEL_SCHED
	bool "Sched"
	default n
#	select SCHED_HAVE_PARENT

config TC_KERNEL_SEMAPHORE
	bool "Semaphore"
	default n

config TC_KERNEL_SIGNAL
	bool "Signal"
	default n
	depends on !DISABLE_SIGNALS

config TC_KERNEL_SYSTEM_DEBUG
	bool "System Debug"
	default n
	depends on DEBUG_SYSTEM

config TC_KERNEL_TASK
	bool "Task"
	default n

config TC_KERNEL_TERMIOS
	bool "Termios"
	default n
	depends on SERIAL_TERMIOS

config TC_KERNEL_TIMER
	bool "Timer"
	default n
	depends on !DISABLE_POSIX_TIMERS

config TC_KERNEL_VFS
	bool "VFS"
	default n

config TC_KERNEL_WDOG
	bool "Wdog"
	default n
	depends on WATCHDOG

config TC_KERNEL_UMM_HEAP
	bool "Umm Heap"
	default n

config TC_KERNEL_TASH_HEAPINFO
	bool "Heapinfo"
	default n

config TC_KERNEL_TASH_STACKMONITOR
	bool "StackMonitor"
	default n

config TC_KERNEL_WORK_QUEUE
	bool "wqueue"
	default n
	depends on SCHED_WORKQUEUE
	depends on SCHED_HPWORK || SCHED_LPWORK

config TC_KERNEL_MEMORY_SAFETY
	bool "Memory Safety"
	default n
	depends on !DISABLE_MQUEUE
	depends on !DISABLE_PTHREAD

config TC_KERNEL_IRQ
	bool "irq"
	default n

config TC_KERNEL_MEM_LEAK_CHECKER
	bool "Mem Leak Checker"
	default n
	depends on MEM_LEAK_CHECKER

config TC_KERNEL_REBOOT_REASON
	bool "Reboot Reason"
	default n
	depends on SYSTEM_REBOOT_REASON

config ITC_KERNEL_ENVIRON
	bool "ITC Environ"
	default n
	depends on !DISABLE_ENVIRON

if ITC_KERNEL_ENVIRON
config ITC_ENV_LOOP_SIZE
	int "Iterator Count"
	default 100
endif

config ITC_KERNEL_LIBC_PTHREAD
	bool "ITC libc Pthread"
	default n
	depends on !DISABLE_PTHREAD
if ITC_KERNEL_LIBC_PTHREAD
config ITC_LIBC_PTHREAD_LOOP_SIZE
	int "Iterator Count"
	default 100
endif

config ITC_KERNEL_LIBC_SEMAPHORE
	bool "ITC Libc Semaphore"
	default n

config ITC_KERNEL_SEMAPHORE
	bool "ITC Semaphore"
	default n
if ITC_KERNEL_SEMAPHORE
config ITC_KERN_SEM_LOOP_SIZE
	int "Iterator Count"
	default 100
endif

config ITC_KERNEL_SCHED
	bool "ITC Sched"
	default n

config ITC_KERNEL_TIMER
	bool "ITC Timer"
	default n
	depends on !DISABLE_POSIX_TIMERS

config ITC_KERNEL_PTHREAD
	bool "ITC Pthread"
	default n
	depends on !DISABLE_PTHREAD
	select MUTEX_TYPES
if ITC_KERNEL_PTHREAD
config ITC_KERN_PTHREAD_LOOP_SIZE
	int "Iterator Count"
	default 100
endif


endif #EXAMPLES_TESTCASE_KERNEL
